
.card__dog-content dt{
    
    font-weight: bold;
}

.card__dog-content dd{
    margin-left: 1rem;
}

.card__dog-btn a:hover{
    background-color: var(--accent-color);
    color: var(--main-bg-color);
}